@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  font-family: 'Open Sans', sans-serif;
}

.green {
  color: #47cf73;
}

.red {
  color: #c42940;
}

.donation--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
}

.donation--user {
  margin-bottom: 50px;
}

.donation--title {
  color: #525961;
  font-weight: 600;
  position: absolute;
  left: -80px;
}

.donation--goal {
  width: 80px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 101px;
  right: -24%;
  padding: 10px;
  background-color: #525961;
}

.donation--rounded {
  height: 100%;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
  transform: translateZ(0);
}

.donation--bar {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #e7edf4;
  border-radius: 100px 0 0 100px;
}

.donation--progress {
  position: relative;
  max-width: 100%;
  height: 100%;
  background-color: #47cf73;
  transition: width 2s linear;
}

.donation--number {
  transition: left 2s linear;
  position: absolute;
  top: -18px;
  transform: translate(-50%, -100%);
  padding: 4px 10px;
  color: #47cf73;
  font-size: 13px;
  font-weight: 300;
  background-color: #525961;
  border-radius: 3px;
}
.donation--number:after {
  content: "";
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 5px solid #525961;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.donation--status {
  margin-top: 20px;
  text-align: center;
  display: block;
}

.form--container {
  display: block;
  text-align: center;
  margin: 30px 0;
}

.button {
  background-color: #fff;
  color: #47cf73;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #47cf73;
  padding: 10px 25px;
  transition: all .15s ease-in-out;
}
.button:hover {
  background-color: #47cf73;
  color: #fff;
}

.input {
  border: 2px solid #525961;
  padding: 10px;
  margin: 30px 0;
  width: 170px;
}
